@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

$oswald: 'Oswald', sans-serif;
$roboto: 'Roboto', sans-serif;

$heading-color: #035ee8;
$body-color: #333333;
$anchor-color: #2de2e6;
$primary-color:#f6019d;
$secondary-color: #9700cc;
$accent-color: #d40078;
$base-color: #333333;
$base-accent-color: #ffffff;

$content-margin: 50px 0 0 0;
$content-padding: 20px;
$heading-margin: 0 0 20px 0;
$paragrah-margin: 0 0 20px 0;
$bar-height: 50px;

$body-font-size: 16px;
$h1-font-size: 50px;
$h2-font-size: 40px;
$h3-font-size: 32px;
$small-heading-font-size: 22px;

$linear-all: all 300ms;