@use 'constants';

body {
  font-family: constants.$roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  color: constants.$body-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: constants.$heading-margin;
  font-family: constants.$oswald;
}

h1 {
  color: constants.$heading-color;
  font-size: constants.$h1-font-size;
}

h2 {
  color: constants.$accent-color;
  font-size: constants.$h2-font-size;
}

h3 {
  color: constants.$secondary-color;
  font-size: constants.$h3-font-size;
}

h4, h5, h6 {
  color: constants.$base-color;
  font-size: constants.$small-heading-font-size;
}

p {
  margin: constants.$paragrah-margin;
}

a {
  color: constants.$anchor-color;
  text-decoration: none;
  transition: constants.$linear-all;
}

a:hover {
  color: constants.$secondary-color;
}